.main-app-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.left-box,
.middle-box,
.right-box {
  border: 2px solid crimson;
}
.left-box,
.middle-box,
.right-box {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 10px;
}

.right-box table,
tr,
td,
th {
  border: 1px solid;
}

.right-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-box select {
  display: inherit;
}
